<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Consulting-proven</h2>
    <img src="../assets/consulting.svg" height="100pt">
    <p>Though being pretty much at the beginning of my career, I have gained experience in a multitude of management consulting firms.</p>
  </div>
  <div class="tech">
    <h2>Analytics-driven</h2>
    <img src="../assets/analytics.svg" height="100pt">
    <p>Having a hands-on mentality, I enjoy building all kinds of stuff - ranging from machine learning models or BI dashboards over to sand castles.</p>
  </div>
  <div class="tech">
    <h2>Party on!</h2>
    <img src="../assets/beer.svg" height="100pt">
    <p>While being a hard worker at daytime, I'm always down for drinks with friends after work - especially when football is involved. Go Schalke 04!</p>
  </div>
</div>
